In [1]:
%ls ../data

ESOL_README                          esol_original_extra.csv
FreeSolv_README                      freesolv_original.csv
Lipo_README                          freesolv_original_IdSmileTarget.csv
esol_original.csv                    lipophilicity_original.csv
esol_original_IdSmileTarget.csv

In [2]:
import pandas as pd

In [3]:
dataset = 'freesolv'

In [4]:
df = pd.read_csv(f'../data/{dataset}_original.csv')

In [5]:
df.shape

(642, 4)

In [6]:
df.head()

                              iupac                  smiles   expt   calc
0  4-methoxy-N,N-dimethyl-benzamide  CN(C)C(=O)c1ccc(cc1)OC -11.01 -9.625
1          methanesulfonyl chloride            CS(=O)(=O)Cl  -4.87 -6.219
2                 3-methylbut-1-ene                CC(C)C=C   1.83  2.452
3                   2-ethylpyrazine              CCc1cnccn1  -5.45 -5.809
4                       heptan-1-ol                CCCCCCCO  -4.21 -2.917

# Save [id, smile, target] from the dataset to a csv

In [7]:
subset_df = df[['iupac', 'smiles', 'expt']]
subset_df.head()

                              iupac                  smiles   expt
0  4-methoxy-N,N-dimethyl-benzamide  CN(C)C(=O)c1ccc(cc1)OC -11.01
1          methanesulfonyl chloride            CS(=O)(=O)Cl  -4.87
2                 3-methylbut-1-ene                CC(C)C=C   1.83
3                   2-ethylpyrazine              CCc1cnccn1  -5.45
4                       heptan-1-ol                CCCCCCCO  -4.21

In [8]:
columns_mapper = {'iupac': 'id',
                  'smiles': 'smile',
                  'expt': 'target'
                 }

In [9]:
ready_df = subset_df.rename(columns=columns_mapper)
ready_df.head()

                                 id                   smile  target
0  4-methoxy-N,N-dimethyl-benzamide  CN(C)C(=O)c1ccc(cc1)OC  -11.01
1          methanesulfonyl chloride            CS(=O)(=O)Cl   -4.87
2                 3-methylbut-1-ene                CC(C)C=C    1.83
3                   2-ethylpyrazine              CCc1cnccn1   -5.45
4                       heptan-1-ol                CCCCCCCO   -4.21

In [10]:
# save file
ready_df.to_csv(f'../data/{dataset}_original_IdSmileTarget.csv', index=False)

In [11]:
ready_df.shape

(642, 3)

In [12]:
ready_df.columns

Index(['id', 'smile', 'target'], dtype='object')

# Check

In [13]:
%ls

esol_get_original_id_smile_target.ipynb
freeesolv_get_original_id_smile_target.ipynb
get_fingerprints.ipynb
get_fingerprints_local.ipynb
get_protenated_from_canonical.ipynb
rf_grid_search_on_fingerprints.ipynb

In [14]:
%ls ../data/

ESOL_README                          esol_original_extra.csv
FreeSolv_README                      freesolv_original.csv
Lipo_README                          freesolv_original_IdSmileTarget.csv
esol_original.csv                    lipophilicity_original.csv
esol_original_IdSmileTarget.csv

In [15]:
import sys, os
present = set(os.listdir('../data/'))

present

{'.DS_Store',
 '.ipynb_checkpoints',
 'ESOL_README',
 'FreeSolv_README',
 'Lipo_README',
 'esol_original.csv',
 'esol_original_IdSmileTarget.csv',
 'esol_original_extra.csv',
 'freesolv_original.csv',
 'freesolv_original_IdSmileTarget.csv',
 'lipophilicity_original.csv'}

In [16]:
original_files = set(['esol_original.csv', 'freesolv_original.csv', 'lipophilicity_original.csv'])
original_files

{'esol_original.csv', 'freesolv_original.csv', 'lipophilicity_original.csv'}

In [17]:
# check that we have not deleted original files
assert original_files.issubset(present)

In [19]:
# check that we produced the needed file
assert f'{dataset}_original_IdSmileTarget.csv' in present